.hero__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.hero__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.hero__social-icon {
  font-size: 1.4rem;
  color: var(--title-color);
}

.hero__social-icon:hover {
  color: var(--gold, #c7a76f);
  transform: translateY(-3px);
}

.hero__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.hero__hand {
  width: 32px;
  height: 32px;
  margin-left: 0.4rem;
}

.hero__subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.hero__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  top: 1rem;
}

.hero__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}
.hero__img {
  background: url("../../assets/profile2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(225 225 225/ 30%);
  order: 1;
  justify-self: center;
  width: 300px;
  height: 400px;
  animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.hero__scroll-button {
  display: flex;
  align-items: center;
}
.hero__scroll {
  margin-left: 9.25rem;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}

.hero__scroll-name {
  color: var(--title-color);
  font-weight: var(var(--font-medium));
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.hero__scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .hero__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .hero__hand {
    width: 22px;
    height: 22px;
  }
  .hero__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .hero__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }
  .hero__description {
    max-width: initial;
    margin-bottom: var(--mb-0-25);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .hero__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .hero__img {
    order: initial;
    justify-self: initial;
  }

  .hero__data {
    grid-column: 1/3;
  }
  .hero__scroll {
    display: none;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .hero__img {
    height: 180px;
  }
}
